---
import Scripts from "../components/Scripts.astro";
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="description" content="Invitaciones para evento" />

		<meta property="og:type" content="website" />
		<meta
			property="og:title"
			content="- Nuestra Boda Alejandro & Marlene"
		/>
		<meta property="og:description" content="- Nuestra Boda -" />
		<meta property="og:url" content="" />
		<meta property="og:image" content="/img/IMG-OGmini.jpg" />
		<meta property="og:image:width" content="709" />
		<meta property="og:image:height" content="709" />

		<link type="image/x-icon" rel="shortcut icon" href="/img/favicon.png" />

		<!-- Core CSS -->
		<link
			rel="stylesheet"
			href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
		/>
		<link rel="stylesheet" href="/styles/font-awesome_all.min.css" />
		<link rel="stylesheet" href="/styles/animate.css" />
		<link rel="stylesheet" href="/styles/style.css" />
		<link rel="stylesheet" href="/styles/boda.css" />
		<!-- Scripts Component -->
		<Scripts />

		<!-- preguntame-->
		<script src="/scripts/confetti.browser.js" type="text/javascript"
		></script>
		<link rel="stylesheet" href="/styles/font-awesome_all.min.css" />
		<!-- Google fonts include -->

		<!-- Bootstrap-css include -->
		<link rel="stylesheet" href="/styles/trivia/bootstrap.min.css" />
		<!-- Animate-css include -->
		<link rel="stylesheet" href="/styles/trivia/animate.min.css" />
		<!-- Main-StyleSheet include -->
		<link rel="stylesheet" href="/styles/trivia/style.css" />
		<link rel="stylesheet" href="/styles/trivia/estilos.css" />

		<link
			rel="stylesheet"
			href="/styles/venobox.min.css"
			type="text/css"
			media="screen"
		/>

		<link href="/styles/css2.css" rel="stylesheet" />

		<!-- Fonts -->

		<meta name="msapplication-TileColor" content="#ffffff" />
		<meta name="msapplication-TileImage" content="/ms-icon-144x144.png" />
		<meta name="theme-color" content="#ffffff" />
		<title>- Nuestra Boda - Alejandro &amp; Marlene</title>
		<!-- Bootstrap core CSS -->
		<link
			href="/styles/trivia/bootstrap.min.css"
			rel="stylesheet"
			type="text/css"
		/>
		<!-- Font Awesome -->
		<link
			href="/styles/font-awesome.min.css"
			rel="stylesheet"
			type="text/css"
		/>

		<link href="/styles/flexslider.css" rel="stylesheet" type="text/css" />

		<link
			href="/styles/magnific-popup.css"
			rel="stylesheet"
			type="text/css"
		/>
		<!-- animate -->
		<link href="/styles/animate.css" rel="stylesheet" type="text/css" />
		<!-- Pace -->
		<link href="/styles/preloader.css" rel="stylesheet" type="text/css" />
		<!-- Carousel -->
		<link
			href="/styles/owl.carousel.css"
			rel="stylesheet"
			type="text/css"
		/>
		<link href="/styles/style.css" rel="stylesheet" type="text/css" />
		<!-- AddEvent theme css -->
		<link
			rel="stylesheet"
			href="/styles/theme6.css"
			type="text/css"
			media="screen"
		/>
	</head>
	<body
		data-pais="Mexico"
		id="invitacion"
		class="body-offcanvas pace-done"
		data-category="Boda"
		style="background: #f9f9f9;"
		data-idpase=""
		data-slug="boda-alejandroymarlene"
		><div class="pace pace-inactive">
			<div
				class="pace-progress"
				data-progress-text="100%"
				data-progress="99"
				style="transform: translate3d(100%, 0px, 0px);"
			>
				<div class="pace-progress-inner"></div>
			</div>
			<div class="pace-activity"></div>
		</div>

		<!--PRELOADER-->
		<div id="preloader" style="display: none;" hidden="">
			<div class="alignment">
				<div class="v-align center-middle"></div>
			</div>
		</div>

		<div class="container containerCustom px-0">
			<div
				id="homeslider-wrap"
				class="homesliderimage2"
				style="height: 84vh; background-image:url('/img/IMAGEN-HEADERportpc.jpg'); display: flex; justify-content: center; align-items: flex-end; background-position: 50% 50%; background-color: #FFF; -webkit-transform: translateZ(0); overflow: hidden;"
			>
				<div id="countdown" class="vertical-center countdown-box">
					<div class="row">
						<div
							class="col-xs-12 carousel-caption2 animated-element-1 delay1 my-5 animated fadeIn"
						>
							<h1
								class="titprin personalColorTitutlo letraSecundaria"
							>
								- Nuestra Boda -
							</h1>
							<!-- <h1 class="titprin personalColorTitutlo"> - Nuestra Boda -</h1> -->
							<h2
								class="margin personalColorTitutlo letraPrincipal"
							>
								Alejandro &amp; Marlene
							</h2>
							<div id="clock" class="personalColorTitutlo">
								<span class="wraper-clock letraPrincipal"
									><div
										class="value personalColorTitutlo letraPrincipal"
									>
										1116
									</div><div
										class="value-label letraPrincipal"
									>
										Días
									</div></span
								><span class="sep">:</span><span
									class="wraper-clock letraPrincipal"
									><div
										class="value personalColorTitutlo letraPrincipal"
									>
										03
									</div><div
										class="value-label letraPrincipal"
									>
										Horas
									</div></span
								><span class="sep">:</span><span
									class="wraper-clock letraPrincipal"
									><div
										class="value personalColorTitutlo letraPrincipal"
									>
										00
									</div><div
										class="value-label letraPrincipal"
									>
										Minutos
									</div></span
								><span class="sep">:</span><span
									class="wraper-clock letraPrincipal"
									><div
										class="value personalColorTitutlo letraPrincipal"
									>
										04
									</div><div
										class="value-label letraPrincipal"
									>
										Segundos
									</div></span
								>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>



		<!--  FRASEL LARGA SECTION -->

		<section
			id="FRASELARGA"
			class="container containerCustom background-cover"
			style="background-color: #333;background-image: url('/img/FOTO_FRASE_LARGAfrpc.jpg'); display: flex; justify-content: center; align-items: center;"
		>
			<div class="hash-box">
				<div class="text-center">
					<h1
						class="frasesMax letraSecundaria personalColorFraseLarga"
						style="text-shadow: 0 1px 2px rgba(0,0,0,0.6);"
					>
						<br /><br />
						" A veces lo que empieza <br />
						como una locura<br />
						se convierte en lo <br />
						mejor de tu vida "
					</h1>
				</div>
			</div>
		</section>
		<!-- END INSTAGRAM SECTION -->

		<!-- WEDDING SECTION HEADER -->
		<section
			class="container containerCustom"
			style="background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                     
                        background-color: #f7efe7"
		>
			<section id="wedding-header" class="wedding-header-single-page">
				<div class="text-center">
					<!-- ICON IMAGE -->

					<!-- TITLE -->
					<h2
						class="headline letraPrincipal"
						style="color: #b78455 !important;"
					>
						Dónde &amp; Cuándo<br />
						<hr />
						<div style="font-size:25px;">Ceremonia</div>
					</h2>

					<div
						class="animated animated-element-1 col-md-6 fadeIn margin1 pading-text"
						style="float: none; margin: 0 auto;"
					>
						<div
							class="wraper-we letraSecundaria onepage alturaTarjetas bgCeremoonias"
							style="color: rgb(16, 16, 16) !important; background-color: rgba(249, 249, 248, 0.51);"
						>
							<h3 class="letraSecundaria">
								<div align="center">
									Parroquia de Cristo Rey
								</div>
							</h3>
							<img
								src="/img/CEREMONIA1-IMGCEREMONIA1-IMGceryrec.jpg"
								alt="Ceremonia"
								class="img-responsive center-block fl-wd"
							/>
							<h3 class="wed-text letraSecundaria"></h3>

							<div class="wed-text">
								<b>Dirección:</b> Av. Guerra de Reforma, Av. Leyes
								de Reforma 1131, 3a. Secc, Iztapalapa, 09310 Ciudad
								de México
							</div>

							<div
								type="button"
								class="btn-map"
								data-toggle="modal"
								data-target="#mapa1"
							>
								Ver mapa de la Ceremonia
							</div>
						</div>
					</div>
				</div>

				<div class="text-center" style="margin-top: 50px;">
					<!-- ICON IMAGE -->

					<!-- TITLE -->
					<h2
						class="headline letraPrincipal"
						style="color: #b78455 !important;"
					>
						<div style="font-size:25px;">Recepción</div>
					</h2>

					<div
						class="animated animated-element-1 col-md-6 fadeIn margin1 pading-text"
						style="float: none; margin: 0 auto;"
					>
						<div
							class="wraper-we letraSecundaria onepage alturaTarjetas bgCeremoonias"
							style="color: rgb(16, 16, 16) !important; background-color: rgba(249, 249, 248, 0.51);"
						>
							<h3 class="letraSecundaria">
								<div align="center">Salón MariAngelica</div>
							</h3>
							<img
								src="/img/CEREMONIA2-IMGCEREMONIA1-IMGceryrec.jpg"
								alt="Recepción"
								class="img-responsive center-block fl-wd"
							/>
							<h3 class="wed-text letraSecundaria"></h3>

							<div class="wed-text">
								<b>Dirección:</b> C. 14 Nº31, Leyes de Reforma 2da
								Secc, Iztapalapa, 09310 Ciudad de México, CDMX
							</div>

							<div
								type="button"
								class="btn-map"
								data-toggle="modal"
								data-target="#mapa2"
							>
								Ver mapa de la Recepción
							</div>
						</div>
					</div>
				</div>
			</section>
			<!-- END WEDDING SECTION HEADER -->

			<!-- mapas modales -->
			<!-- Modal Ceremonia -->
			<div id="mapa1" class="modal fade" role="dialog">
				<div class="modal-dialog">
					<!-- Modal content-->
					<div class="modal-content" style="z-index:999;">
						<div class="modal-header">
							<button
								type="button"
								class="close"
								data-dismiss="modal">×</button
							>
							<h4 class="modal-title letraSecundaria">
								<div align="center">
									Parroquia de Cristo Rey
								</div>
							</h4>
						</div>
						<div class="modal-body">
							<div class="maps">
								<!-- Tomsom - Mapa por coordenadas -->
								<iframe
									class="mapa-pop"
									src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3764.4477825074096!2d-99.07247492374526!3d19.376133181746447!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1fdba94c0e3e7%3A0xf4c974d43719a28d!2sParroquia%20de%20Cristo%20Rey!5e0!3m2!1ses!2smx!4v1699491175044!5m2!1ses!2smx"
									width="100%"
									height="300"
									style="border:0"
									allowfullscreen=""
									loading="lazy"
									referrerpolicy="no-referrer-when-downgrade"
								></iframe>
							</div>
							<h3 class="wed-text"></h3>

							<div class="wed-text">
								<b>Dirección:</b> Av. Guerra de Reforma, Av. Leyes
								de Reforma 1131, 3a. Secc, Iztapalapa, 09310 Ciudad
								de México
							</div>
						</div>
						<div class="modal-footer">
							<button
								type="button"
								class="btn letraSecundaria btn-default"
								data-dismiss="modal">Cerrar</button
							>
						</div>
					</div>
				</div>
			</div>

			<!-- Modal Recepción -->
			<div id="mapa2" class="modal fade" role="dialog">
				<div class="modal-dialog">
					<!-- Modal content-->
					<div class="modal-content" style="z-index:999;">
						<div class="modal-header">
							<button
								type="button"
								class="close"
								data-dismiss="modal">×</button
							>
							<h4 class="modal-title letraSecundaria">
								<div align="center">Salón MariAngelica</div>
							</h4>
						</div>
						<div class="modal-body">
							<div class="maps">
								<!-- Tomsom - Mapa por coordenadas -->
								<iframe
									class="mapa-pop"
									src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3764.4783873633083!2d-99.07240372374527!3d19.374384781747198!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1fd61e09dd531%3A0x30dd3a6108131a94!2sSal%C3%B3n%20MariAngelica!5e0!3m2!1ses!2smx!4v1699491265461!5m2!1ses!2smx"
									width="100%"
									height="300"
									style="border:0"
									allowfullscreen=""
									loading="lazy"
									referrerpolicy="no-referrer-when-downgrade"
								></iframe>
							</div>
							<h3 class="wed-text"></h3>
							<div class="wed-text">
								<b>Dirección:</b>C. 14 Nº31, Leyes de Reforma
								2da Secc, Iztapalapa, 09310 Ciudad de México,
								CDMX
							</div>
						</div>
						<div class="modal-footer">
							<button
								type="button"
								class="btn letraSecundaria btn-default"
								data-dismiss="modal">Cerrar</button
							>
						</div>
					</div>
				</div>
			</div>

			<!-- end mapas modales -->
			<!-- hoteles SECTION HEADER -->

			<section
				class="container containerCustom py-5"
				style="background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                     
                        background-color: #ffffff"
			>
				<div class="row dresscode">
					<!-- RECEPTION -->
					<div class="text-center">
						<h2
							class="headline letraPrincipal"
							style="color: #b78455 !important;"
						>
							¡Los detalles<br /> del gran día!
						</h2>
						<img
							src="/img/ITINERARIO-IMGitin1.jpg"
							alt="Icono"
							class="itinerarioImg"
						/>
					</div>
				</div>
			</section>

			<section
				class="container containerCustom"
				style="background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                     
                        background-color: #fcefe7"
			>
				<div class="row dresscode">
					<!-- RECEPTION -->
					<div class="text-center">
						<h2
							class="titulo letraPrincipal"
							style="color: 
               					 #b78455 !important;"
						>
							<hr />Dress Code<style>
								.img-responsive.center-block.img-headline-v2 {
									mix-blend-mode: multiply;
								}
							</style>
						</h2>
						<img
							src="/img/DRESSCODE-IMGdcok1.jpg"
							alt="480x320"
							class="img-responsive center-block img-headline-v2"
						/>
						<h3
							class="wed-text letraSecundaria"
							style="font-weight: 100;font-size: 16px; color: #101010 !important;"
						>
							<div style="font-size:18px;">
								<br />Formal<br />- Queremos tu mejor perfil
								para el álbum de recuerdos -<hr />
							</div>
						</h3>
					</div>
				</div>
			</section>

			<!-- SLIDER -->
			<section
				id="portfolio"
				class="container"
				style="background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                     
                        background-color: #ffffff"
			>
				<div class="text-center" style="    margin-bottom: 0px;">
					<!-- TITLE -->
					<h2
						class="titulo letraPrincipal"
						style="color: 
                #b78455 !important;"
					>
						Mi felicidad eres tu...
					</h2>
					<!-- TEXT INFO -->
				</div>

				<div class="row">
					<div class="col-lg-4 col-sm-6 mb-5">
						<ul class="slides animated fadeIn">
							<a
								class="my-image-links vbox-item"
								data-gall="gallery01"
								href="/img/FOTOS1.jpg"
								><img src="/img/FOTOS1.jpg" /></a
							>
						</ul>
					</div><div class="col-lg-4 col-sm-6 mb-5">
						<ul class="slides animated fadeIn">
							<a
								class="my-image-links vbox-item"
								data-gall="gallery01"
								href="/img/FOTOS2.jpg"
								><img src="/img/FOTOS2.jpg" /></a
							>
						</ul>
					</div><div class="col-lg-4 col-sm-6 mb-5">
						<ul class="slides animated fadeIn">
							<a
								class="my-image-links vbox-item"
								data-gall="gallery01"
								href="/img/FOTOS3.jpg"
								><img src="/img/FOTOS3.jpg" /></a
							>
						</ul>
					</div><div class="col-lg-4 col-sm-6 mb-5">
						<ul class="slides animated fadeIn">
							<a
								class="my-image-links vbox-item"
								data-gall="gallery01"
								href="/img/FOTOS4.jpg"
								><img src="/img/FOTOS4.jpg" /></a
							>
						</ul>
					</div><div class="col-lg-4 col-sm-6 mb-5">
						<ul class="slides animated fadeIn">
							<a
								class="my-image-links vbox-item"
								data-gall="gallery01"
								href="/img/FOTOS5.jpg"
								><img src="/img/FOTOS5.jpg" /></a
							>
						</ul>
					</div><div class="col-lg-4 col-sm-6 mb-5">
						<ul class="slides animated fadeIn">
							<a
								class="my-image-links vbox-item"
								data-gall="gallery01"
								href="/img/FOTOS6.jpg"
								><img src="/img/FOTOS6.jpg" /></a
							>
						</ul>
					</div>
				</div>
			</section>
			<!-- END SLIDER-->

			<!-- BRIDSMAID-GROOSMAN HEADER SECTION -->
			<div
				class="container containerCustom"
				style="background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                     
                        background-color: #f9ece8"
			>
				<section id="bridsmaid-groosman-header" class="onepage">
					<!-- BRIDSMAID HEADER WRAPPER -->
					<div class="text-center">
						<!-- ICON IMAGE -->

						<!-- TITLE -->
						<h2
							class="headline letraPrincipal"
							style="color: #b78455 !important"
						>
							Nuestros Padres
						</h2>
					</div>
					<!-- END BRIDSMAID-GROOSMAN HEADER WRAPPER -->
				</section>
				<!-- END BRIDSMAID HEADER SECTION -->

				<div
					class="frasesMax letraSecundaria 2"
					style="color: #383838;margin-top: 0px;"
				>
					<div style="font-size:20px;">
						¡Gracias por acompañarnos<br /> en este día tan especial!
					</div>
				</div>

				<!-- BRIDSMAID-GROOSMAN CONTENT SECTION -->

				<section id="bridsmaid-groosman-content" class="onepage">
					<div
						class="row text-center"
						style="display: flex; justify-content: center;"
					>
						<!-- BRIDESMAID ITEM-1 -->
						<div
							class="col-sm-6 col-md-4 animated-element animated fadeInUp"
						>
							<!-- BRIDESMAID WRAPPER -->
							<div
								class="thumbnail"
								style="background-color: rgba(249, 249, 248, 0.01); height: 500.672px;"
							>
								<!-- PHOTO -->

								<img
									src="/img/PERSONA1-IMG000novia.jpg"
									class="img-circle animated-element-1 animated fadeIn"
									alt="Groosman"
								/>
								<!-- BRIDESMAID INFO -->
								<div
									class="caption animated-element-1 animated fadeIn"
								>
									<!-- TITLE & EXCERPT -->
									<h3
										style="color: #383838;"
										class="letraPrincipal"
									>
										Margarita Sebastián Jose<br />&amp;<br
										/> Carlos Enrique Barrios
									</h3>
									<p>- Padres de la Novia -</p>
								</div>
								<!-- END BRIDESMAID INFO -->
							</div>
							<!-- END BRIDESMAID WRAPPER -->
						</div>
						<!-- END BRIDESMAID ITEM-1 -->

						<!-- BRIDESMAID ITEM-2 -->
						<div
							class="col-sm-6 col-md-4 animated-element delay1 animated fadeInUp"
						>
							<!-- BRIDESMAID WRAPPER -->
							<div
								class="thumbnail"
								style="background-color: rgba(249, 249, 248, 0.01); height: 500.672px;"
							>
								<!-- PHOTO -->

								<img
									src="/img/PERSONA2-IMG000novio.jpg"
									class="img-circle animated-element-1 animated fadeIn"
									alt="Groosman"
								/>
								<!-- BRIDESMAID INFO -->
								<div
									class="caption animated-element-1 animated fadeIn"
								>
									<!-- TITLE & EXCERPT -->
									<h3
										style="color: #383838;"
										class="letraPrincipal"
									>
										Rosa Angeles Yañez Reyes<br />&amp;<br
										/>Sabas Duran Dominguez
									</h3>
									<p>- Padres del Novio -</p>
								</div>
								<!-- END BRIDESMAID INFO -->
							</div>
							<!-- END BRIDESMAID WRAPPER -->
						</div>
					</div>
				</section>
			</div>

			<!-- GIFT REGISTRY HEADER SECTION -->
			<div
				class="container containerCustom"
				style="background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                     
                        background-color: #ffffff"
			>
				<section id="gift-registry" class="onepage">
					<!-- GIFT HEADER WRAPPER -->
					<div class="text-center">
						<!-- TITLE -->
						<h2
							class="headline letraPrincipal"
							style="color: #b78455;"
						>
							<br />Obsequios
						</h2>
						<!-- TEXT INFO -->
					</div>
					<!-- END GIFT HEADER WRAPPER -->

					<div
						class="frasesMax letraSecundaria"
						style="color: #5c5c5c;margin-top: 0px;"
					>
						<div style="font-size:18px;">
							Tu presencia siempre será el mejor regalo para
							nosotros.

							<br />Pero si deseas acompañarnos con un detalle
							adicional, contaremos con sobres en el evento para
							depositar cartas, buenos deseos o una muestra de
							cariño para nuestro futuro juntos.

							<br />También podrás hacerlo de forma digital si así
							lo prefieres.
						</div>
					</div>
				</section>
				<!-- END GIFT REGISTRY HEADER SECTION -->

				<!-- GIFT REGISTRY CONTENT SECTION -->

				<section id="gift-logo-section" class="onepage">
					<div class="cbuBox">
						<div
							data-toggle="collapse"
							data-target="#cbubody"
							class="cbu letraSecundaria cbuHead"
						>
							<i style="color: #f05642;" class="fa fa-university"
							></i>Ver datos bancarios
						</div>
						<div
							class="cbu letraSecundaria cbuBody collapse"
							style="height: 70px; background: #fff;"
							id="cbubody"
						>
							<span
								style="color:black !important;"
								class="fixColorWhite"
							>
								• BANCO: BBVA<br />
								Nº DE CUENTA: 1509239385<br />
								CUENTA CLABE: 012180015092393851<br />
								TITULAR: Javier Duran Yañez
							</span>
						</div>
					</div>
				</section>
			</div>

			<!-- Custom-js include -->
			<script src="/scripts/trivia/script.js" type="text/javascript"
			></script>

			<!-- first include tsParticles engine  -->
			<script src="/scripts/tsparticles-engine.js" type="text/javascript"
			></script>

			<script
				src="scripts/tsparticles.bundle.min.js"
				type="text/javascript"></script>

			<script src="scripts/jquery-particles.js" type="text/javascript"
			></script>
		</section>

		<section
			id="reserve-image-background"
			class="footer-background-cover1 container containerCustom"
			style="background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			background-color: #deb097;"
		>
			<div class="row">
				<div class="col-xs-12">
					<!-- MAIN TITLE WRAPPER -->
					<div
						class="about-section-wraper letraPrincipal onepage text-center animated-element-1 animated fadeIn"
					>
						<!-- TITLE -->
						<h2
							style="color: #ffffff !important;"
							class="letraPrincipal"
						>
							Confirmar Asistencia
						</h2>
					</div>
					<!-- END MAIN TITLE WRAPPER -->
				</div>
			</div>

			<div class="row">
				<div class="col-xs-12">
					<div
						class="frasesMax letraSecundaria text-center"
						style="color: #ffffff !important;"
					>
						¡GRACIAS POR COMPARTIR <br />ESTE DÍA TAN ESPECIAL <br />CON
						NOSOTROS!<br />¡Muchas Gracias!
					</div>
				</div>
			</div>

			<!-- SUSCRIBE FORM OUTER WRAPPER -->
			<div class="row">
				<div class="col-xs-12">
					<div
						class="block-box-rsrv text-center"
						style="margin-top:30px;"
					>
						<!-- Contenedor de mensaje dinámico -->
						<div
							id="mensajeInvitado"
							class="letraSecundaria"
							style="color:white; font-size:1.2em; margin-bottom:20px;"
						>
							Cargando información...
						</div>

						<!-- Botón -->
						<button
							id="btnConfirmar"
							class="btn btn-light"
							style="background-color:#fff; color:#a87b5a; border:none; border-radius:25px; padding:10px 25px; font-weight:bold; display:none;"
						>
							Aceptar invitación
						</button>
					</div>
					<!-- END SUSCRIBE FORM INNER WRAPPER -->
				</div>
			</div>
			<!-- END SUSCRIBE FORM OUTER WRAPPER -->
		</section>

		<!-- FOOTER -->
		<div class="container containerCustom px-0">
			<footer id="footer" class="footer-background-cover">
				<video id="video-footer" autoplay loop muted>
					<source src="/img/dym.mp4" type="video/mp4" />
				</video>
			</footer>
		</div>

		<!-- Tomsom - sacar pie de página -->

		<!-- Tomsom - MUSICA -->

		<audio id="musica" loop="">
			<source src="/img/cancion.mp3" type="audio/mp3" />
		</audio>

		<div
			class="musicaOff letraSecundaria"
			style="background-color: #b0b0b0 !important"
			target="_blank"
			id="sonidomusicaOff"
		>
			<i class="fa fa-volume-up flotante" id="iconoMusica"></i>
		</div>

		<div
			class="musicaOn"
			target="_blank"
			style="background-color: #b0b0b0 !important"
			id="sonidoMusicaOn"
		>
			<img src="/img/musica-on-4.gif" />
		</div>

		<!-- Welcome Modal -->
		<div
			class="modal fade"
			id="modalBienvenida"
			tabindex="-1"
			role="dialog"
			aria-labelledby="modalBienvenidaLabel"
			aria-hidden="true"
		>
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-body text-center">
						<h3 class="mb-4">
							Bienvenido<br /><br /> Fuiste invitado a la boda de<br
							/>Alejandro & Marlene
						</h3>
						<div class="mb-3" id="boton-modal">
							<button
								class="btn letraSecundaria btn-primary w-50 rounded-pill b1 text-transform"
								style="background-color: #b0b0b0; border-color: #b0b0b0;"
							>
								Ingresar
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div id="divWSP"></div>

		<script src="/scripts/modernizr.js" type="text/javascript"></script>
		<script src="/scripts/device.js" type="text/javascript"></script>
		<script src="/scripts/jquery.flexslider.js" type="text/javascript"
		></script>
		<!--   <script src="js/jquery.magnific-popup.js"></script> -->
		<script src="/scripts/bootstrap.offcanvas.js" type="text/javascript"
		></script>
		<script src="/scripts/jquery.waypoints.min.js" type="text/javascript"
		></script>
		<script src="/scripts/sticky.min.js" type="text/javascript"></script>
		<script src="/scripts/jquery.vide.js" type="text/javascript"></script>
		<!--   -->
		<script src="/scripts/pace.min.js" type="text/javascript"></script>
		<!--    <script src="js/owl.carousel.js"></script>  -->
		<script src="/scripts/jquery.smooth-scroll.js" type="text/javascript"
		></script>
		<script src="/scripts/jquery.validate.min.js" type="text/javascript"
		></script>
		<script src="/scripts/jquery-ui.min.js" type="text/javascript"></script>
		<script src="/scripts/html2pdf.bundle.min.js" type="text/javascript"
		></script>

		<!-- Galeria  -->
		<script type="text/javascript" src="/scripts/venobox.min.js"></script>

		<!-- Them script -->
		<script src="/scripts/script.js" type="text/javascript"></script>

		<!-- Main app script -->
		<script src="/scripts/main.js" type="text/javascript"></script>

		<canvas
			style="position: fixed; width: 100%; height: 100%; top: 0px; left: 0px; z-index: 1000; pointer-events: none;"
			width="1905"
			height="945"></canvas>
	</body>
</html>
